.ingredients__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.contain{
  display: flex;
}

.ingredients__link {
  text-decoration: none;
  color: #F2F2F3;
}