li {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.add {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  border: 1px dashed #4c4cff;
}

.addMain {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.contain {
  position: absolute;
  right: 0;
  width: 600px;
  height: calc(100vh - 188px);
}

.elements {
  max-height: 490px;
  overflow-y: auto;
  direction: ltr;
  scrollbar-width: thin;
  height: 300px;
}

.elements::-webkit-scrollbar {
  width: 8px;
}

.elements::-webkit-scrollbar-track {
  background: #2f2f37;
  border-radius: 664px;
}

.elements::-webkit-scrollbar-thumb {
  background-color: rgba(133, 133, 173, 1);
}

.info {
  display: flex;
  justify-content: flex-end;
  height: 64px;
}

.price {
  display: flex;
  align-items: center;
}