.ingredients {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 730px;
  overflow-y: auto;
}

.ingredients__list {
  list-style: none;
  padding: 0;
  width: 100%;
  overflow: auto;
}

.ingredients__tabs {
  margin-top: 20px;
  display: flex;
}

.ingredients__container{
  display: flex;
}

