.header {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #1C1C21;
  width: 100%;
  height: 88px;
}

.header__nav {
  max-width: 1280px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.header__links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.header__profile {
  display: flex;
  align-items: center;
  justify-self: end;
  text-decoration: none;
  color: #F2F2F3;
}

.header__text {
  margin-right: 20px;
}

.header__link p,
.header__profile p {
  margin-left: 10px;
}

.header__link {
  display: flex;
  align-items: center;
  justify-self: center;
  text-decoration: none;
  color: #F2F2F3;
}

.header__link:hover {
  opacity: .8;
}